<h1>Login</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
       <%= form_tag '/login' do %>

      <%= label_tag :email %>
      <%= text_field_tag :email,"", class: 'form-control' %>

      <%= label_tag :password %>
      <%= password_field_tag :password,"", class: 'form-control' %>

      <%= submit_tag "Log in", class: "btn btn-primary margin-bot" %>
      <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</div>