<div class="container">
  <div class="row m-y-2">
    <div class="col-lg-8 push-lg-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Posts</a>
        </li>
      </ul>
      <div class="tab-content p-b-3">
        <div class="tab-pane active" id="profile">
          <h4 class="m-y-2"><%= @user_presenter.name %></h4>
          <div class="row">
            <div class="col-md-6">
              <h6>Proffesion</h6>
              <p>
                <%= @user_presenter.proffesion_name %>
              </p>
              <h6>Biography</h6>
              <p>
                <%= @user_presenter.biography_name %>
              </p>
              <h6>Website</h6>
              <p>
                <%= @user_presenter.website_link %>
              </p>
            </div>
            <div class="col-md-6">
              <h6>Recent Tags</h6>
              <% @user_presenter.recent_tags.each do | tag |%>
                <%= link_to tag.name, tag_path(tag.name), class: "badge badge-info"%>
              <% end %>
              <hr>
              <span class="badge badge-primary"><i class="fa fa-user"></i> <%= @user.followers.count %> Followers</span>
              <span class="badge badge-danger"><i class="fa fa-eye"></i> <%= @user.posts.sum(:impressions_count) %> Post Views</span>
               <%= render partial: "users/relationship_forms", locals: { user: @user }%>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="messages">
          <h4 class="m-y-2">Recent Posts </h4>
          <table class="table table-hover table-striped">
            <tbody>
              <%= render partial: "users/recent_posts", locals: { posts: @user_presenter.recent_posts }%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 pull-lg-8 text-xs-center">
      <img src="//placehold.it/240" class="m-x-auto img-fluid img-circle" alt="avatar">
    </div>
  </div>
</div>
<hr>
