
<nav class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-between">
 <%= link_to 'CodePoets', root_path, class: 'navbar-brand title' %>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="nav navbar-nav ml-auto">
        <li><%= link_to 'Posts', posts_path, class: "nav-link" %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'New question', root_path, class: "nav-link" %></li>
          <li><%= link_to 'My posts', author_posts_path, class: "nav-link" %></li>
          <li><%= link_to 'Log out', logout_path, class: "nav-link"  %></li>
        <% else %>
          <li><%= link_to 'About me', root_path, class: "nav-link" %></li>
          <li><%= link_to 'Log in', login_path, class: "nav-link" %></li>
          <li><%= link_to 'Register', signup_path, class: "nav-link"  %></li>
        <% end %>
      </ul>
  </div>
</nav>