<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'CodePoets', root_path, class: 'title' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Posts', posts_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'New question', root_path %></li>
          <li><%= link_to 'My posts', author_posts_path %></li>
          <li><%= link_to 'Log out', logout_path  %></li>
        <% else %>
          <li><%= link_to 'About me', root_path %></li>
          <li><%= link_to 'Log in', login_path %></li>
          <li><%= link_to 'Register', signup_path  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
